<div id="hero">
  <h1 id="title"><%= title %></h1>
  <% if (btn === true) { %>
    <a id="join-btn" class="btn btn-primary btn-lg" href="/careers/openings">Join Us</a>
  <% } %>
  <div class="gradient-mask"></div>
</div> 