<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" href="/static/css/basic/policy.css">
</head>
<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {title: "Our Policy"}); %>

  <section id="businesses">
    <div class="row">
      <div class="col-sm-4">
        <div class="business-card">
          <img src="/static/img/general/privacy.jpeg">
          <a href="#"  data-toggle="modal" data-target="#myModal1">
            Privacy Policy
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
                </div>
                <div class="modal-body">
                  <p>This Privacy Statement describes the ways in which we, CRC Oncology Corp, collect, hold and use information about individual persons who visit this website.</p>
                  <p>BY USING THIS WEBSITE, YOU CONSENT TO THE COLLECTION AND USE OF INFORMATION AS SET FORTH IN THIS PRIVACY POLICY. YOU ALSO ACKNOWLEDGE THAT CRC Oncology MAY PERIODICALLY CHANGE, MODIFY, ADD OR REMOVE OR OTHERWISE UPDATE THIS PRIVACY POLICY AT ITS DISCRETION, WITHOUT PRIOR NOTIFICATION. However, we will always handle your Personal Information in accordance with the Privacy Policy that was in effect at the time of collection. It is our intention to post changes to our privacy policy on this page so that you are fully informed concerning the types of information we are gathering, how we use it, and under what circumstances it may be disclosed. Our Privacy Policy is located on our homepage and is also available on any page where Personal Data are requested. At such data collection points, further explanation may be provided, where appropriate, as to the purposes for which the data will be used.</p>
                  <h3>1. Pledge on privacy</h3>
                  <p>The term “Personal Data” as used in this Privacy Policy refers to information such as your name, birth date, e-mail address, mailing address, or telephone number that can be used to identify you. Generally, we will only process your Personal Data as described in this Privacy Policy. However, we reserve the right, to conduct additional processing to the extent permitted or required by law, or in support of any legal or criminal investigation. The next sections explain how and when we collect Personal Data from you.</p>
                  <h3>2. Intended use of personal data</h3>
                  <p>Some of our services do not require any form of registration, allowing you to visit our site without telling us who you are. However, some services may require you to provide us with Personal Data. In these situations, if you choose to withhold any Personal Data requested by us, it may not be possible for you to gain access to certain parts of the site and for us to respond to your query.</p>
                  <p>We may collect and use Personal Data to provide you with products or services, to bill you for products and services you request, to market products and services which we think may be of interest to you, or to communicate with you for other purposes which are evident from the circumstances or about which we inform you when we collect Personal Data from you.</p>
                  <h3>3. Non-disclosure of personal data</h3>
                  <p>We will not sell, share, or otherwise distribute your Personal Data to third parties except as provided in this Privacy Policy. We may disclose your Personal Data to other CRC Oncology affiliates worldwide that agree to treat it in accordance with this Privacy Policy. Personal Data may also be transferred to third parties who act for or on our behalf, for further processing in accordance with the purpose(s) for which the data were originally collected or may otherwise be lawfully processed, such as services delivery, evaluating the usefulness of this website, marketing, data management or technical support. These third parties have contracted with us to only use Personal Data for the agreed upon purpose, and not to sell your Personal Information to third parties, and not to disclose it to third parties except as may be required by law, as permitted by us or as stated in this Privacy Policy.</p>
                  <p>Personal Data collected from you may also be transferred to a third party in the event that the business of this site or a part of it and the customer data connected with it is sold, assigned or transferred, in which case we would require the buyer, assignee or transferee to treat Personal Data in accordance with this Privacy Policy. Also, Personal Data may be disclosed to a third party if we are required to do so because of an applicable law, court order or governmental regulation, or if such disclosure is otherwise necessary in support of any criminal or other legal investigation or proceeding here or abroad.</p>
                  <h3>4. Right of access, correction and objection</h3>
                  <p>Whenever we process Personal Data, we take reasonable steps to ensure that your Personal Data is kept accurate and up-to date for the purposes for which it was collected. We will provide you with the ability to object to the processing of your Personal Data if such processing is not reasonably required for a legitimate business purpose as described in this policy or our compliance with law. In the case of electronic direct marketing, we will provide you with a method to opt out of receiving further marketing materials or with a method to opt in if required by law. If you wish to contact us regarding our use of your Personal Data or object to the processing of your Personal Data, please email us at admin@crconc.org. If you contact us, please note the name of the website where you provided the information, as well as the specific information you would like us to correct, update or delete plus a proper identification of you. Requests to delete personal data will be subject to any applicable legal and ethical reporting or document filing or retention obligations imposed on us.</p>
                  <h3>5. Security and confidentiality</h3>
                  <p>To ensure the security and confidentiality of Personal Data that we collect online, we use data networks protected, inter alia, by industry standard firewall and password protection. In the course of handling your Personal Data, we take measures reasonably designed to protect that information from loss, misuse, unauthorized access, disclosure, alteration or destruction.</p>
                  <h3>6. Data transfer abroad</h3>
                  <p>CRC Oncology Corp has databases in different countries, some of which are operated by third parties on behalf of the CRC Oncology Corp. We may transfer your data to one of the databases outside your country of domicile, potentially including countries which may not require an adequate level of protection for your Personal Data compared with that provided in your country. However, CRC Oncology has adopted Binding Corporate Rules, a system of principles, rules and tools, provided by European law, in an effort to ensure effective levels of data protection, in particular relating to transfers of personal information outside the EEA and Switzerland. CRC Oncology Corp and its wholly owned subsidiary, ACT Bio, Inc. (collectively “CRC”) participate in the EU-U.S. Privacy Shield Framework and Swiss Privacy Shield regarding the collection, use and retention of personal information from European Union member countries and Switzerland. We also receive some data via other compliance mechanisms, including data processing agreements based on the EU Standard Contractual Clauses. We have self-certified with the Department of Commerce that we adhere to the Privacy Shield Principles. To review our Privacy Shield registrations, please click here.  CRC certifies that it adheres to the Privacy Shield and Swiss Privacy Shield Principles of notice, choice, onward transfer, security, data integrity, access, and enforcement for personal data submitted in participating European countries. To learn more about the Privacy Shield Principles, click here.</p>
                  <h3>7. “Cookies” and internet tags</h3>
                  <p>We may collect and process information about your visit to this website, such as the pages you visit, the website you came from and some of the searches you perform. Such information is used by us to help improve the contents of the site and to compile aggregate statistics about individuals using our site for internal, market research purposes. In doing this, we may install “cookies” that collect the domain name of the user, your internet service provider, your operating system, and the date and time of access. A “cookie” is a small piece of information which is sent to your browser and stored on your computer’s hard drive. Cookies do not damage your computer. You can set your browser to notify you when you receive a “cookie,” this will enable you to decide if you want to accept it or not. We would like to inform you, however, that if you do not accept you may not be able to use all functionality of your browser software. We may obtain the services of outside parties to assist us in collecting and processing the information described in this Section.</p>
                  <p>Occasionally, we may use internet tags (also known as action tags, single-pixel GIFs, clear GIFs, invisible GIFs and 1-by-1 GIFs) and cookies at this site and may deploy these tags/cookies through a third-party advertising partner or a web analytical service partner which may be located and store the respective information (including your IP-address) in a foreign country. These tags/cookies are placed on both online advertisements that bring users to this site and on different pages of this site. We use this technology to measure the visitors’ responses to our sites and the effectiveness of our advertising campaigns (including how many times a page is opened and which information is consulted) as well as to evaluate your use of this website. The third-party partner or the web analytical service partner may be able to collect data about visitors to our and other sites because of these internet tags/cookies, may compose reports regarding the website’s activity for us and may provide further services which are related to the use of the website and the internet. They may provide such information to other parties if there is a legal requirement that they do so, or if they hire the other parties to process information on their behalf. If you would like more information about web tags and cookies associated with on-line advertising or to opt-out of third-party collection of this information, please visit the Network Advertising Initiative website http://www.networkadvertising.org</p>

                  <h3>8. Personal information and children</h3>
                  <p>Most of the services available on this site are intended for persons 18 years of age and older. Any individual who requests information about a medicine indicated for use in children must be 18 or over. We will not knowingly collect, use or disclose Personal Data from a minor under the age of 18, without obtaining prior consent from a person with parental responsibility (e.g., a parent or guardian) through direct off-line contact. We will provide the parent with (i) notice of the specific types of personal data being collected from the minor, and (ii) the opportunity to object to any further collection, use, or storage of such information. We abide by laws designed to protect children.</p>
                  <h3>9. Links to other sites</h3>
                  <p>This Privacy Policy applies only to the websites owned by CRC Oncology and its subsidiary, and not to websites owned by third parties. We may provide links to other websites which we believe may be of interest to our visitors. We aim to ensure that such websites are of the highest standard. However, due to the nature of the internet, we cannot guarantee the privacy standards of websites to which we link or be responsible for the contents of sites other than this one, and this Privacy Policy is not intended to be applicable to any linked, non-CRC owned site.</p>
                  <h3>0. Contact us</h3>
                  <p>If you have any queries or complaints about our compliance with this Privacy Policy, or if you would like to make any recommendations or comments to improve the quality of our Privacy Policy, please email us at admin@crconc.org.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="business-card">
          <img src="/static/img/general/data.jpeg">
          <a href="#" data-toggle="modal" data-target="#myModal2">
            Data Policy    
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Data Policy</h4>
                </div>
                <div class="modal-body">
                  <p>Everyone expects their personal information to remain confidential. This includes anything that can identify them—name, work and home address, family information, employment or financial details, or more sensitive health information. We strongly condemn the disclosure of any information that could lead to any form of discrimination, as well as the use of identifiable genetic data without informed consent.</p>
                  <p>We adhere to all privacy laws and enforce clear policies on protecting personal information, including genetic data. Our data privacy program includes a global organization and infrastructure as well as procedures and trainings to support local activities and ensure compliance, CRC Binding Corporate Rules are a system of principles, rules and tools to ensure effective levels of data protection, in particular relating to transfers of personal information outside Europe and Switzerland.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="business-card">
          <img src="/static/img/general/anti_spam.jpeg">
          <a href="#" data-toggle="modal" data-target="#Modal3">
            Anti-spam Policy
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Anti-spam Policy</h4>
                </div>
                <div class="modal-body">
                  <h3>What Is Spam?</h3>
                  <p>Spam is unsolicited commercial email. CRC prohibits the use of our products and services in any manner associated with the transmission, distribution and delivery of spam. Any customer found to be using CRC’s products for sending spam will be found in violation of this policy and our Terms of Service. Consequences for violation of this policy include immediate account termination as well as liability for civil, criminal or administrative penalties and damages.</p>
                  <h3>What Is Prohibited by CRC?</h3>
                  <p>In compliance with the U.S. CAN-SPAM Act and other global regulatory Acts, CRC prohibits the following:</p>
                  <ul>
                      <li>Emails sent with invalid or forged headers</li>
                      <li>Use of a CRC or other third-party domain name to transmit email without express consent</li>
                      <li>Inclusion of unauthorized URLs hosted by CRC within spam</li>
                      <li>Subject lines containing false or misleading information</li>
                      <li>The use of harvested mailing lists or any list where the recipient has not given their prior consent</li>
                      <li>Any other means of deceptive addressing and misrepresentation</li>
                      <li>Interfering with any other party’s use and enjoyment of the services and products offered by CRC</li>
                  </ul>
                  <h3>Anti-Spam Legislation</h3>
                  <p>Anti-spam law is not unique to the United States. Global regulations empower many governments to enforce laws with similar requirements. Penalties can include fines and/or jail time.  We reserve the right to report the use of our services for spam to the relevant authorities necessary to protect our users.</p>
                  <h3>How to Notify Us</h3>
                  <p>If you have received unsolicited email from one of our customers (or through a service such as CRCMeeting, CRCWebinar, or CRCTraining, CRCClientRoom, etc), please notify us immediately at productabuse@crconc.org . If CRC finds unauthorized or improper use, it may, without notice, take action in its sole discretion, including blocking messages from a particular Internet domain, mail server or IP address as well as terminating any account found in violation of this policy.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <div class="business-card">
          <img src="/static/img/general/copyright.jpeg">
          <a href="#" data-toggle="modal" data-target="#Modal4">
            TRADEMARK & COPYRIGHT GUIDELINES
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">TRADEMARK & COPYRIGHT GUIDELINES</h4>
                </div>
                <div class="modal-body">
                  <p>CRC Oncology Corp Logo and service marks on this site and the websites of CRC Oncology Corp wholly owned subsidiary and events/trainings are the trademarks and service marks of CRC Oncology Corp., and may be registered in the U.S. Patent and Trademark Office and in other countries.</p>
                  <p>This site contains the trademarks and service marks of third parties and such trademarks. logos and service marks are the property of their respective owners. These marks may be registered and/or used in the U.S. and other countries around the world. These third-party marks are the property of the owner companies, respectively, and are registered and/or used in the U.S. and other countries around the world.</p>
                  <p>CRC Oncology Corp.</p>
                  <p>San Diego, CA 92130</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="business-card">
          <img src="/static/img/general/guideline.jpeg">
          <a href="#" data-toggle="modal" data-target="#Modal5">
            CRC Oncology Branding Guidelines
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          <div class="modal fade" id="Modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">CRC Oncology Branding Guidelines</h4>
                </div>
                <div class="modal-body">
                  <h3>Overview</h3>
                  <p>CRC Oncology Corp. (“we,” “us,” or “our”) has created these Brand Guidelines (“Guidelines”) to help you properly use our brand, logos, content, trademarks and service marks. These are our intellectual property and an important and valuable asset. As such, they must be used properly to ensure that these assets are not used by third parties in such a manner as to confuse consumers into believing there is an affiliation with or an endorsement by us, when in fact there is none. Please follow these Guidelines for using our marks and brands in any products, services, communications, documents, or websites.</p>
                  <h3>Applicability</h3>
                  <p>These Guidelines apply to our employees, customers, licensees, consultants, outside vendors, and other third parties. If you have signed an agreement with us that contains any different or additional usage guidelines, please follow those guidelines. If not, these Guidelines will apply.</p>
                  <h3>Use of Marks and Logos</h3>
                  <p>You may refer to our products and services by their associated trademarks and service marks, so long as such references:</p>
                  <ul>
                      <li>are truthful, fair, and not misleading;</li>
                      <li>do not suggest sponsorship or endorsement by us; and</li>
                      <li>comply with these Guidelines, which we may modify from time to time in our sole discretion.</li>
                  </ul>
                  <p>In particular:</p>
                  <ul>
                      <li>You must use the appropriate trademark symbol and trademark acknowledgement of our ownership of the marks and/or logos in question.</li>
                      <li>You may not alter our trademarks in any manner, including, but not limited to, changing the proportion, color or shape of our trademarks, or adding or removing any elements from the trademarks.</li>
                      <li>Do not incorporate our trademarks or logos into your products or product names, services or service names, trademarks, service marks, logos, or company names, and do not adopt marks or logos that are confusingly similar to ours.</li>
                      <li>You may not use our trademarks in any manner that implies sponsorship or endorsement by us without an express written permission and license from CRC Oncology.</li>
                      <li>Do not register a domain containing any of our marks or logos, or any similar variations of them, if it could make people thing that we provide or support anything offered from that domain.</li>
                      <li>Do not make unlicensed use of our licensed logos. Third-party use of our marks or logos requires a license or written permission from us. If you are interested in obtaining a license to use any of our marks or logos, please contact one of our marketing or sales representatives.</li>
                  </ul>
                  <h3>Rights to Object</h3>
                  <p>We reserve the right to object to any unauthorized, unfair, improper and/or infringing use of our trademarks, logos, product names, service names, and/or products whether or not expressly included in this document.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="business-card">
          <img src="/static/img/general/conduct.jpeg">
          <a href="#" data-toggle="modal" data-target="#Modal6">
            Code of Conduct
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>
          <div class="modal fade" id="Modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Code of Conduct</h4>
                </div>
                <div class="modal-body">
                  CRC Oncology Code of Conduct V1.0
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% include ../partials/footer %>
  <% include ../partials/scripts %>
</body>
</html>