<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/static/css/home/styles.css">
</head>
<body>
<% include ../partials/navbar %>
<%- include("../partials/contactModal", {currentUrl:"/home"}); %>


<% include ../partials/scripts %>
</body>
</html>