<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" type="text/css" href="/static/css/careers/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/careers/index.css">
</head>
<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {title: "Start Your Career at CRC", btn: true}); %>

  <section id="main-content">
    <p> CRC Oncology commits to recruit local fresh graduates from a spectrum of majors with diverse culture background, and raise the next generation of talent. </p>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
</body>
</html>