<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/references/main.css">
  <link rel="stylesheet" href="/static/css/references/ct.css">
<head>

<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {title: "CT.GOV"}) %>

  <section class="container" id="ct">
    <div id="content" class="row">
      <div class="col-sm-3" id="sidebar">
        <div class="input-group input-group-lg searchbar">
          <input type="text" class="form-control" style="border-radius: 0">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" style="border-radius: 0">Search</button>
          </span>
        </div>
        <div class="list-group">
          <a id="cd19" class="list-group-item active">CD19</a>
          <a id="bcma" class="list-group-item">BCMA</a>
          <a id="cd20" class="list-group-item">CD19/CD20</a>
          <a id="cd22" class="list-group-item">CD19/CD22</a>
          <a id="hbb" class="list-group-item">HBB</a>
          <a id="ny" class="list-group-item">NY-ESO-1</a>
          <a id="ebv" class="list-group-item">EBV</a>
          <a id="hbv" class="list-group-item">HBV</a>
          <a id="other" class="list-group-item">Other</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div id="main-content">
        </div>
      </div>
    </div>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
  <script src="/static/js/references/ct.js"></script>
</body>
</html>