<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/references/main.css">
  <link rel="stylesheet" href="/static/css/references/ema.css">
<head>

<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {title: "EMA"}) %>

  <section class="container" id="ema">
    <div id="content" class="row">
      <div class="col-sm-3" id="sidebar">
        <div class="input-group input-group-lg searchbar">
          <input type="text" class="form-control" style="border-radius: 0">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" style="border-radius: 0">Search</button>
          </span>
        </div>
        <div class="list-group">
          <a id="website" class="list-group-item active">Website</a>
          <a id="committees" class="list-group-item">Committees</a>
          <a id="therapy" class="list-group-item">Advanced Therapy</a>
          <a id="prime" class="list-group-item">PRIME</a>
          <a id="odd" class="list-group-item">ODD</a>  
          <a id="pharmacovigilance" class="list-group-item">Pharmacovigilance</a>
          <a id="pediatric" class="list-group-item">Pediatric</a>
          <a id="maa" class="list-group-item">MAA</a>
          <a id="databases" class="list-group-item">Databases</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div id="main-content">
        </div>
      </div>
    </div>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
  <script src="/static/js/references/ema.js"></script>
</body>
</html>