<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/references/main.css">
  <link rel="stylesheet" href="/static/css/references/ngo.css">
<head>

<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {title: "NGO"}) %>

  <section class="container" id="ngo">
    <div class="row">
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://www.aacr.org/aboutus/Pages/default.aspx" class="ngo-image" id="AACR"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://alliancerm.org/mission-and-role/" class="ngo-image" id="ARM"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://www.asco.org/" class="ngo-image" id="ASCO"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://ct.catapult.org.uk/" class="ngo-image" id="CATAPULT"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://www.ccrm.ca/" class="ngo-image" id="CCRM"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://www.cancerresearch.org/" class="ngo-image" id="CRI"></a>
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="https://www.cirm.ca.gov/researchers" class="ngo-image" id="CRIM"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="ngo-item">
          <a href="http://www.lls.org/" class="ngo-image" id="LLS"></a>
        </div>
      </div>
    </div>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
  <script src="/static/js/references/ngo.js"></script>
</body>
</html>