<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/references/main.css">
  <link rel="stylesheet" href="/static/css/references/others.css">
<head>

<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {title: "NGO"}) %>

  <section class="container" id="others">
    <div id="content" class="row">
      <div class="col-sm-3" id="sidebar">
        <div class="list-group">
          <a id="tools" class="list-group-item active">Tools</a>
          <a id="cdisc" class="list-group-item">CDISC</a>
          <a id="ich" class="list-group-item">ICH</a>
          <a id="iso" class="list-group-item">ISO</a>
          <a id="nih" class="list-group-item">NIH</a>  
          <a id="nci" class="list-group-item">NCI</a>
          <a id="nccn" class="list-group-item">NCCN</a>
          <a id="rmat" class="list-group-item">RMAT</a>
          <a id="sec" class="list-group-item">SEC</a>
          <a id="wikipedia" class="list-group-item">Wikipedia</a>
          <a id="media" class="list-group-item">Media</a>
        </div>
      </div>
      <div class="col-sm-9">
        <div id="main-content">
        </div>
      </div>
    </div>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
  <script src="/static/js/references/others.js"></script>
</body>
</html>