<footer>
  <a class="footer-brand" href="#"><img src="/static/img/index/logo-transparent.png"></a>
  <div class="corp-info">
    <p>8525 Camino Santa Fe Ste E, San Diego, CA 92121</p>
    <p>hr@crconc.org</p>
    <p>+1 858-375-3989</p>
  </div>
  <div>
  <div class="icons">
    <a href="https://twitter.com/crconcology" class="fab fa-twitter-square fa-2x"></a>
    <a href="https://www.facebook.com/crconcology/" class="fab fa-facebook-square fa-2x"></a>
    <a href="https://cn.linkedin.com/company/crconc" class="fab fa-linkedin fa-2x"></a>
    <a href="https://instagram.com/crconcology?utm_source=ig_profile_share&igshid=7jw0sgvudawh" class="fab fa-instagram fa-2x"></a>
  </div>
  <p>CRC ONCOLOGY 2018 ©</p>
  </div>
</footer>