<nav class="navbar navbar-default navbar-fixed-top trigger">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src='/static/img/index/logo-transparent.png' /></a>
    </div>

    <div class="collapse navbar-collapse show-lg" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="drop">
          <a href="#" class="drop-button">GENERAL&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="drop-content">
            <li><a href="/basic/press">PRESS</a></li>
            <li><a href="/basic/talks">EVENTS</a></li>
            <li><a href="/basic/aboutus">ABOUT US</a></li>
            <li><a href="/basic/policy">OUR POLICY</a></li>
          </ul>
        </li>
        <li class="drop">
          <a href="#" class="drop-button">SERVICE&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="drop-content">
            <li><a href="/services/quality">QUALITY</a></li>
            <li><a href="/services/regulatory">REGULATORY</a></li>
            <li><a href="/services/clinical">CLINICAL</a></li>
            <li><a href="/services/business">BUSINESS</a></li>
          </ul>
        </li>
        <li class="drop">
          <a href="#" class="drop-button">REFERENCE&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="drop-content">
            <li><a href="/references/fda">FDA</a></li>
            <li><a href="/references/cfda">CFDA</a></li>
            <li><a href="/references/ema">EMA</a></li>
            <li><a href="/references/ct">CT.GOV</a></li>
            <li><a href="/references/ngo">NGO</a></li>
            <li><a href="/references/others">Others</a></li>
          </ul>
        </li>
        <li class="drop">
            <a href="#" class="drop-button">CAREER&nbsp;&nbsp;<span class="caret"></span></a>
            <ul class="drop-content">
              <li><a href="/careers">OPPORTUNITIES</a></li>
              <li><a href="/careers/openings">JOBS OPENING</a></li>
            </ul>
          </li>
      </ul>
    </div>	    
  </div>
</nav>