<nav class="navbar navbar-default navbar-fixed-top trigger">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src='/static/img/index/yinzhang2.png' /></a>

      <div class="sidecolumn">
        <div class="copywrite">
          <p>Create by Jichen Hong</p>
        </div>
        <div class="icons">
          <a href="https://www.facebook.com/crconcology/" class="fab fa-facebook-square fa-2x"></a>
          <a href="https://cn.linkedin.com/company/crconc" class="fab fa-linkedin fa-2x"></a>
          <a href="https://instagram.com/crconcology?utm_source=ig_profile_share&igshid=7jw0sgvudawh" class="fab fa-instagram fa-2x"></a>
        </div>
      </div>
    </div>



    <div class="collapse navbar-collapse show-lg" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="drop">
          <a href="#" class="drop-button">PROFILE&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="drop-content">
            <li><a href="/home/profile">MY PROFILE</a></li>
          </ul>
        </li>
        <li class="drop">
          <a href="#" class="drop-button">WORK&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="drop-content">
            <li><a href="/project">MY PROJECTS</a></li>
            <li><a href="/">MY NOTEBOOK</a></li>
          </ul>
        </li>

        <li class="drop">
          <a href="#" class="drop-button">LIFE&nbsp;&nbsp;<span class="caret"></span></a>
          <ul class="drop-content">
            <li><a href="/journeys">MY JOURNEYS</a></li>
            <li><a href="/musics">MY MUSIC</a></li>
            <li><a href="/idols">MY IDOLS</a></li>

          </ul>
        </li>
        <li class="drop">
            <a href="#" class="drop-button">CONTACT&nbsp;&nbsp;<span class="caret"></span></a>
            <ul class="drop-content">
              <li><a href="/home/profile">CONTACT INFO</a></li>
              <li>
                <a href="#" class="contact" role="button" data-toggle="modal" data-target="#contact2">LEAVE A MESSAGE</a>
              </li>
            </ul>
        </li>
      </ul>
    </div>	    
  </div>
</nav>
