<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic/press_1.css">
</head>
<body>
  <% include ../../partials/navbar %>
  <%- include("../partials/hero", {title: "Press Releases"}); %>

<section class="announcement">
    <h1>CRC Oncology Announces First Patient Dosed in Phase I Clinical Trial of TransThera Biosciences’ TT-00420 in the U.S.</h1>
    <p class="time">January 08, 2019 – SAN DIEGO, California</p>
    <p>CRC Oncology announced today the dosing of the first patient in a phase I first-in-human clinical trial of TransThera Biosciences Co., Ltd.’s lead product candidate, TT-00420, for the treatment of triple negative breast cancer (TNBC) and advanced solid tumors.</p>
    <p>“We are excited to announce the initiation of this first-in-human clinical trial with TransThera following the successful filing of our first US IND submission in September, which have been incredible milestone achievements for CRC” stated Dr. Qinhua Cindy Ru, founder and managing director of CRC Oncology. “We are honored to have worked with TransThera on this project, which has helped our company establish our platform in regulatory and clinical development, and we look forward to collaborating on future projects to come.”</p>
    <p>Dr. Frank Wu, founder and CEO of TransThera, stated, “we are excited to assess TT-00420’s therapeutic potential observed from pre-clinical studies in this phase I clinical trial, and we hope that TT-00420 can transform the treatment landscape for TNBC.”</p>
    <p>The phase I study is a global, multicenter trial to evaluate the safety, tolerability, and efficacy of TT-00420. The trial will enroll approximately 70 patients with locally advanced or metastatic TNBC or other solid tumors with no available standard therapeutic treatment options. Patients will be treated with a single oral administration of TT-00420 daily on a continuous schedule.</p>

    <p class="time">About TT-00420</p>
    <p>TT-00420 is a novel small molecule drug, developed by TransThera Biosciences, targeting triple-negative breast cancer (TNBC) and other solid tumors. TNBC represents about 15% of all breast cancers. A huge unmet medical need exists, as there is currently no effective target therapy available for treating TNBC. The global phase I trial consists of a dose escalation arm and a dose expansion arm at multiple sites. More information about this study can be found on ClinicalTrials.gov, using identifier NCT03654547.</p>
    
    <p class="time">About TransThera Biosciences</p>
    <p>TransThera Biosciences, specialized in developing novel NCE drugs, was founded in 2016 in Nanjing, China. It aims to become an innovation platform company with global vision by adopting a novel business model to adapt internal research and open innovation. TransThera’s current portfolio covers therapeutic areas such as oncology and inflammatory diseases.</p>
    
    <p class="time">About CRC Oncology</p>
    <p>CRC Oncology is a contract research organization with a mission to promote the globalization of innovative drug development for cancer treatments. Experienced in global regulatory, clinical and quality assurance strategies, CRC Oncology is dedicated to helping pharmaceutical companies conduct high quality clinical development and strategic regulatory submissions globally. For more information, please visit us at crconc.com.</p>

    <p class="time">Contacts</p>
    <p>Brenda Ngo<br>brenda.ngo@crconc.org</br></p>

</section>
  



<% include ../../partials/footer%>
<% include ../../partials/scripts %>