<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic/press_1.css">
</head>
<body>
  <% include ../../partials/navbar %>
  <%- include("../partials/hero", {title: "Press Releases"}); %>

  <section class="announcement">
    <h1>CRC Oncology Announces the Opening of New Office in Beijing, Strengthening Global 
        Presence in China</h1>
    <br><p class="time">October 15, 2018 – SAN DIEGO, California</p>
    <p>Following the grand opening of the company’s headquarters in San Diego (pictured left) on August 28, 2018, CRC Oncology celebrated today the opening of its new office in Beijing (pictured right).</p>
    <p>Located in the center of the UTC-Sorrento Valley area of San Diego, minutes from innovative biotech companies, prestigious biology research institutions, world class business firms, the I-805, I-5, and I-15 freeways, and conveniently near the San Diego airport, CRC Oncology’s headquarters has 8000 square feet of office and laboratory space, which will include upcoming GMP grade modular cleanrooms.</p>
    <p>CRC Oncology’s new Beijing office has about 6000 square feet of office space and is located in the newly constructed Zhongguancun Medical Engineering Technology Transformation Center (MTP), Shunyi District. This new center was built with support from the Beijing Food and Drug Administration, the Zhongguancun Science Park Management Committee and the Shunyi District People’s Government with a focus to promote the incubation of innovative startups in regenerative medicine and medical engineering, especially companies involved in clinical stage development of cell and gene therapy, and is conveniently located about 20 minutes from the Beijing International Airport.</p>
    <p>Executive Director of MTP, Ms. Ying Zou, joined the Beijing Office opening ceremony and delivered a warm welcome, “We are thrilled to have CRC Oncology, a high quality global standard CRO with an in-depth know-how in Clinical Development and Regulatory Submission in the Cell and Gene Therapy area, move into the Shunyi Center. CRC’s on-site services will expedite the development pace under global quality standards for the startups incubated in our Shunyi Center and other regional cell and gene therapy companies.”</p>
    <p>Managing Director of CRC Oncology, Ms. Qinhua Cindy Ru, appreciated the support from the MTP at the opening ceremony, “After a thorough research of a handful biotech parks in Beijing, Shanghai, Nanjing, Suzhou, and Hangzhou, we have chosen to open our first China office here at MTP Shunyi Center in Beijing because of its clear focus in promoting the cell and gene therapy field and MTP long term official collaboration with China’s health authorities in promoting regenerative medicine. With the opening of our Beijing Office, we commit to continue our high-quality services in global clinical development and regulatory submissions in cell and gene therapy and to be the front line and regulatory agent for our global clients in China.”</p>
    <p>The opening of CRC Oncology’s new Beijing office is a testament to the company’s commitment to bridging global quality standards in China and will allow the company to more effectively facilitate the global development of innovative treatments in oncology.</p></br>
  
    <p class="time">About CRC Oncology</p>
    <p>CRC Oncology Corp is a non-profit research organization to promote the globalization of innovative drug development for cancer treatments. Led by a group of seasoned global regulatory, clinical and quality assurance leaders, CRC Oncology is dedicated to helping pharmaceutical companies conduct high quality clinical development and strategic regulatory submissions globally. For more information, visit crconc.org.</p>
  
  </section>


<% include ../../partials/footer%>
<% include ../../partials/scripts %>