<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic/press_1.css">
</head>
<body>
  <% include ../../partials/navbar %>
  <%- include("../partials/hero", {title: "Press Releases"}); %>

<section class="announcement">
    <h1>FDA Grants TransThera Biosciences Approval to Proceed with the Clinical Development of TT-00420 in the U.S.</h1>
    <p class="time">September 28, 2018 – SAN DIEGO, California</p>
    <p>TransThera Biosciences Co., Ltd. (“TransThera”) and CRC Oncology Corp (“CRC Oncology”) jointly announced today that the U.S. Food and Drug Administration (FDA) granted the approval of the Investigational New Drug (IND) application for TT-00420, a selectively clustered multiple kinase inhibitor with novel dual mechanism simultaneously affecting cell cycle and tumor microenvironments, sponsored by TransThera. Both companies expect to initiate the phase I trial (NCT03654547) for TT-00420 in patients with triple negative breast cancer and advanced solid tumors in 4Q2018.</p>
    <p>CRC Oncology, a contract research organization founded in late 2017, aims to promote innovative oncology, cell, and gene therapies for cancer treatments. Dr. Qinhua Cindy Ru, Founder and Managing Director of CRC Oncology, commented, “We appreciate the recent progresses in the oncology, cell and gene therapy field, and we have observed the varied qualities of regulatory submission, manufacturing and clinical development globally. To advance global development in this field, we are dedicated to delivering regulatory submissions and clinical development of same quality standards across the globe.”</p>
    <p>“We are honored to work with TransThera, a company founded by experienced US industrial leaders well-versed in global quality standards, on our very first US IND submission. The success of this submission has validated our platform and capabilities in preparation for the projects to come. Also, worth mentioning, small molecule agents such as TT-00420, which can regulate tumor microenvironment, may help to bring out the maximum potential of cell and gene therapy.”</p>
    <p>CRC Oncology embraces the next-generation, cutting-edge technologies to meet the unprecedented pace of the growing advanced therapy industry. By unifying the global quality standards, CRC Oncology ultimately strives to facilitate the global development in oncology and bring more treatment options to cancer patients.</p>

    <p class="time">About CRC Oncology</p>
    <p>CRC Oncology Corp is a non-profit research organization to promote the globalization of innovative drug development for cancer treatments. Led by a group of seasoned global regulatory, clinical and quality assurance leaders, CRC Oncology is dedicated to helping pharmaceutical companies conduct high quality clinical development and strategic regulatory submissions globally. For more information, visit crconc.org.</p>
    
    <p class="time">About TransThera Biosciences</p>
    <p>TransThera Biosciences, specialized in developing novel NCE drugs, was founded in 2016 in Nanjing, China. It aims to become an innovation platform company with global vision by adopting a novel business model to adapt internal research and open innovation. TransThera’s current portfolio covers therapeutic areas such as oncology and inflammatory diseases.</p>
    
    <p class="time">About TT-00420</p>
    <p>TT-00420 is a selectively clustered multiple kinase inhibitor with novel dual mechanisms affecting cell cycle and tumor microenvironment simultaneously.  Its unique profile renders its superior efficacy against certain tumor types such as TNBC in extensive pre-clinical studies. TNBC represents about 15% of all breast cancers. A huge unmet medical need exists, as there is currently no effective target therapy available for treating TNBC.</p>

    <p class="time">Contacts</p>
    <p>Brenda Ngo<br>brenda.ngo@crconc.org</br></p>

</section>
  



<% include ../../partials/footer%>
<% include ../../partials/scripts %>