<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/static/css/idols/idols.css">
</head>
<body>
<% include ../partials/navbar %>
<%- include("../partials/contactModal", {currentUrl:"/home"}); %>
<% include ../partials/leftColumn %>
<% include newsThumb %>


<div class="mainCol">
    <section class="subMainCol idols">

        <div class="subHero">
            <div class="title">
                <p><span>MY IDOLS</span></p>
                <p>Sport & Music & Movies</p>
            </div>
            <div class="image">
                <img class="heroImg" src="/static/img/index/idol.jpg">
            </div>
        </div>

        <hr>

        <div class="subPageMainBody">

            <ul class="nav nav-tabs">
                <li id="sport-btn" role="presentation" class="active"><a>SPORT</a></li>
                <li id="music-btn" role="presentation"><a>MUSIC</a></li>
                <li id="movie-btn" role="presentation"><a>MOVIE</a></li>
            </ul>

            <br>

            <div id="sport-div">
                <div class="idolsItems" id="idol0">
                    <div class="left">
                        <img src="/static/img/idols/curry.jpg">
                        <p><span>Steph Curry</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Stephen_Curry">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>

                <div class="idolsItems" id="idol1">
                    <div class="left">
                        <img src="/static/img/idols/nash.jpg">
                        <p><span>Steve Nash</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Steve_Nash">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>

                <div class="idolsItems" id="idol2">
                    <div class="left">
                        <img src="/static/img/idols/kaka.jpg">
                        <p><span>KaKa</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Kaká">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>
            </div>


            <div id="music-div" class="hidden">
                <div class="idolsItems" id="idol0">
                    <div class="left">
                        <img src="/static/img/idols/jjLin.jpg">
                        <p><span>JJ Lin</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/JJ_Lin">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>

                <div class="idolsItems" id="idol1">
                    <div class="left">
                        <img src="/static/img/idols/tia.jpg">
                        <p><span>Tia Ray</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Tia_Ray">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>

                <div class="idolsItems" id="idol2">
                    <div class="left">
                        <img src="/static/img/idols/maroon5.jpeg">
                        <p><span>Maroon 5</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Maroon_5">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>
            </div>


            <div id="movie-div" class="hidden">
                <div class="idolsItems" id="idol0">
                    <div class="left">
                        <img src="/static/img/idols/janine.png">
                        <p><span>Janine Chang</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Janine_Chang">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>

                <div class="idolsItems" id="idol1">
                    <div class="left">
                        <img src="/static/img/idols/natalie.jpeg">
                        <p><span>Natalie Partman</span></p>
                        <p><a href="https://en.wikipedia.org/wiki/Natalie_Portman">WIKI</a></p>
                    </div>
                    <div class="right">
                        <p><span>Recent News</span></p>
                        <div class="idol-news">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                    </div>
                </div>
            </div>



    </section>
</div>




<% include ../partials/scripts %>
<script src="/static/js/leftColumn.js"></script>
<script src="/static/js/idols.js"></script>
</body>
</html>