<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="/static/css/home/styles.css">
    </head>
    <body>
        <% include partials/navbar %>
        <%- include("partials/contactModal", {currentUrl:"/home"}); %>

        <section class="services">

            <!--left side column-->
            <div class="leftCol">
                <div class="login">
                    <form action= "/login" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="username" placeholder="Username" maxlength="256" required autofocus="true" />
                            <br>
                            <input class="form-control" type="text" id="psd" name="psd" placeholder="Password" maxlength="256" required autofocus="true" />
                        </div>
                        <button type="submit" class="btn btn-default" id="submit">Log in</button>
                        <button class="btn btn-default">Sign up</button>
                    </form>
                </div>
                <hr>
                <div class="news">
                    <span>My Recent Intestes</span>
                    <br>

                    <div class="news1">

                        <div class="layoutMiddle">
                            <div class="compTitle">
                                <h3 class="title tc d-ib w-100p">
                                    <a style="line-height: 1.3; " class="td-n lh-24 fz-l bcan5cb" href="https://www.rent.com/r/washington/seattle-condos?WT.mc_id=93212&amp;utm_source=bing&amp;utm_medium=cpc&amp;utm_campaign=Search%20-%20US%2Fen%20-%20NB%20-%20State-City%20-%20WA%7CSeattle-WA%7CSeattle&amp;utm_term=condo%20in%20seattle%20washington&amp;utm_content=Condo%20Washington%20Seattle%20-%20Phrase" referrerpolicy="unsafe-url" target="_blank" data-3f5="5eaec587b8381">Condo In <strong>Seattle</strong> Washington - A Wide Selection of <strong>Condos</strong>
                                    </a>
                                </h3>
                                <div>
                                    <a style="line-height: 1.14;" class="ad-domain fz-ms fw-m fc-12th wr-bw lh-17 bcan5cb" href="https://www.rent.com/r/washington/seattle-condos?WT.mc_id=93212&amp;utm_source=bing&amp;utm_medium=cpc&amp;utm_campaign=Search%20-%20US%2Fen%20-%20NB%20-%20State-City%20-%20WA%7CSeattle-WA%7CSeattle&amp;utm_term=condo%20in%20seattle%20washington&amp;utm_content=Condo%20Washington%20Seattle%20-%20Phrase" referrerpolicy="unsafe-url" target="_blank" data-3f5="5eaec587b844e">www.rent.com/<strong><b>Seattle</b></strong>/<strong><b>Condos</b></strong></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news2">

                    </div>
                    <div class="news3">

                    </div>
                </div>
            </div>

            <!--2 small button-->
            <div class="showBt">
                <p> ||| <span class="hoverText hideBtText">Login</span></p>
            </div>
            <div class="hideBt">
                <p> ||| <span class="hoverText hideBtText">Hide</span></p>
            </div>

            <!--main column-->
            <div class="mainCol">
                <hr>
                <ul class="grid">
                    <li class="large">
                        <h3>MY PROFILE</h3>
                        <p>Experiences & Resume</p>
                        <div class="service-img">
                            <a href="/home/profile"><img src="/static/img/index/profile.jpg"></a>
                        </div>
                    </li>

                    <li class="small">
                        <h3>MY PROJECTS</h3>
                        <p>Full stack & AI & ...</p>
                        <div class="service-img">
                            <a href="/services/regulatory" ><img id="project" src="/static/img/index/project.jpg"></a>
                        </div>
                    </li>

                    <li class="small">
                        <h3>MY NOTEBOOK</h3>
                        <p>Work & Life</p>
                        <div class="service-img">
                            <a href="/services/clinical"><img src="/static/img/index/notebook.jpg"></a>
                        </div>
                    </li>

                    <li class="large">
                        <h3>MY MUSIC</h3>
                        <p>Instrument & Vocal & Productions</p>
                        <div class="service-img">
                            <a href="/services/business"><img src="/static/img/index/music.jpg"></a>
                        </div>
                    </li>

                    <li class="large">
                        <h3>MY JOURNEYS</h3>
                        <p>China & USA</p>
                        <div class="service-img">
                            <a href="/services/quality"><img src="/static/img/index/journey.jpg"></a>
                        </div>
                    </li>

                    <li class="small">
                        <h3>MY IDOLS</h3>
                        <p>Sport & Music & Film</p>
                        <div class="service-img">
                            <a href="/services/regulatory"><img id="idol" src="/static/img/index/idol.jpg"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <% include partials/footer %>
        <% include partials/scripts %>
        <script src="/static/js/home.js"></script>
    </body>
</html>