<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="/static/css/index/styles.css">
    </head>
    <body>
        <% include partials/navbar %>
        <section class="mission">
            <h2>Our Mission</h2>
            <hr>
            <p>Our mission is to reshape the landscape of cancer treatement. Taking in young minds, new ideas, and advanced technologies to help in the betterment of the human race and its war with cancer.</p>
        </section>

        <section class="services">
            <h2>Our Services</h2>
            <hr>

            <ul class="grid">
                <li class="large">
                    <h3>QUALITY</h3>
                    <p>ASQ CQA GxP Independent Auditor</p>
                    <div class="service-img">
                        <a href="/services/quality"><img src="/static/img/index/quality0.png"></a>
                    </div>
                </li>

                <li class="small">
                    <h3>REGULATORY</h3>
                    <p>IND / CTA / BLA / NDA eCTD Submission</p>
                    <div class="service-img">
                        <a href="/services/regulatory"><img src="/static/img/index/reg_home2.jpg"></a>
                    </div>
                </li>

                <li class="small">
                    <h3>CLINICAL</h3>
                    <p>Phase I / Phase II / Phase III Oncology Global Clinical Development</p>
                    <div class="service-img">
                        <a href="/services/clinical"><img src="/static/img/index/clinical1.jpg"></a>
                    </div>
                </li>

                <li class="large">
                    <h3>BUSINESS</h3>
                    <p>Marketing Research / Due Dilligence</p>
                    <div class="service-img">
                        <a href="/services/business"><img src="/static/img/index/bd1.png"></a>
                    </div>
                </li>
            </ul>
        </section>
        <% include partials/footer %>
        <% include partials/scripts %>
    </body>
</html>