<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" type="text/css" href="/static/css/home/styles.css">
    </head>
    <body>
        <% include partials/navbar %>
        <%- include("partials/contactModal", {currentUrl:"/home"}); %>



        <!--left side column-->
        <div class="leftCol">

            <div class="login hidden">
                <form action= "/login" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" id="username" name="username" placeholder="Username" maxlength="256" required autofocus="true" />
                        <br>
                        <input class="form-control" type="text" id="psd" name="psd" placeholder="Password" maxlength="256" required autofocus="true" />
                    </div>
                    <button type="submit" class="btn btn-default" id="submit">Log in</button>
                    <button class="btn btn-default">Sign up</button>
                </form>
            </div>

            <div class="weather">
                <div class="news-row">
                    <img class="spinner" src="/static/img/index/spinner.png">
                    <div class="piece hidden">
                        <div class="date ">
                            <span><!--leave for the data of "weather-date"--></span>
                        </div>
                        <div class="temp">
                            <!--leave for the data of "weather-wea"-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="changeCity">
                <div class="footnote">
                    <p style="display: flex">
                        <input class="form-control" type="text" id="cityInput" placeholder="Type Your City" maxlength="256" required autofocus="true"/>
                        <button style="float: right">Search</button>
                    </p>

                </div>
            </div>
            <hr>

            <div class="news">
                <span>My Recent Intestes</span>
                <br>

                <div class="news-row" id="no1">
                    <div class="piece">
                        <div class="title">
                            <span><img class="spinner" src="/static/img/index/spinner.png"></span>
                        </div>
                        <div class="link">
                            <p></p>
                        </div>
                        <div class="footnote">
                            <p><button>More about This</button></p>
                        </div>
                    </div>
                </div>

                <div class="news-row" id="no2">
                    <div class="piece">
                        <div class="title">
                            <span><img class="spinner" src="/static/img/index/spinner.png"></span>
                        </div>
                        <div class="link">
                            <p></p>
                        </div>
                        <div class="footnote">
                            <p><button>More about This</button></p>
                        </div>
                    </div>
                </div>

                <div class="news-row" id="no3">
                    <div class="piece">
                        <div class="title">
                            <span><span><img class="spinner" src="/static/img/index/spinner.png"></span></span>
                        </div>
                        <div class="link">
                            <p></p>
                        </div>
                        <div class="footnote">
                            <p><button>More about This</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--2 small button-->
        <div class="showBt">
            <p> My Crawler <span class="hoverText hideBtText">Reveal</span> </p>
        </div>
        <div class="hideBt">
            <p> Hide <span class="hoverText hideBtText">Hide</span></p>
        </div>

        <!--main column-->
        <section class="services">
            <div class="mainCol">
                <!--<hr>-->
                <ul class="grid">
                    <li class="large">
                        <h3>MY PROFILE</h3>
                        <p>Experiences & Resume</p>
                        <div class="service-img">
                            <a href="/home/profile"><img src="/static/img/index/profile.jpg"></a>
                        </div>
                    </li>

                    <li class="small">
                        <h3>MY PROJECTS</h3>
                        <p>Full stack & AI & ...</p>
                        <div class="service-img">
                            <a href="/services/regulatory" ><img id="project" src="/static/img/index/project.jpg"></a>
                        </div>
                    </li>

                    <li class="small">
                        <h3>MY NOTEBOOK</h3>
                        <p>Work & Life</p>
                        <div class="service-img">
                            <a href="/services/clinical"><img src="/static/img/index/notebook.jpg"></a>
                        </div>
                    </li>

                    <li class="large">
                        <h3>MY MUSIC</h3>
                        <p>Instrument & Vocal & Productions</p>
                        <div class="service-img">
                            <a href="/services/business"><img src="/static/img/index/music.jpg"></a>
                        </div>
                    </li>

                    <li class="large">
                        <h3>MY JOURNEYS</h3>
                        <p>China & USA</p>
                        <div class="service-img">
                            <a href="/services/quality"><img src="/static/img/index/journey.jpg"></a>
                        </div>
                    </li>

                    <li class="small">
                        <h3>MY IDOLS</h3>
                        <p>Sport & Music & Film</p>
                        <div class="service-img">
                            <a href="/services/regulatory"><img id="idol" src="/static/img/index/idol.jpg"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <% include partials/footer %>
        <% include partials/scripts %>
        <script src="/static/js/home.js"></script>
    </body>
</html>