<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<link rel="stylesheet" type="text/css" href="/static/css/index/styles.css">
</head>
<body>
	<% include partials/navbar %>
    <%- include("partials/contactModal", {currentUrl:"/"}); %>

	<section class="hero">
		<!--<video class="hero-vid" playsinline autoplay muted loop poster="/static/img/index/home0.png">-->
			<!--<source src="/static/vid/index/hero.mp4">-->
		<!--</video>-->
        <div class = hero-vid></div>

		<div class="hero-content-area">
			<h1>WELCOME 欢迎 </h1>
            <!--<h3><a href="#" class="contact" role="button" data-toggle="modal" data-target="#contact2">Contact Me <span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></h3>-->
			<h3><a href="/home" class="homePgae">HOME PAGE / 进入主页 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> </a>  </h3>
		</div>
	</section>



	<% include partials/scripts %>
  <script>
    $("#submit").click((e) => {
        $("#submit").text("processing...");
    });
  </script>
</body>
</html>