/*div {*/
    /*margin: auto;*/
/*}*/


.subPageMainBody {
    width: 70%;
}

.subHero{
    background: #f8f9f4;
}

h3 {
    font-family: "Raleway";
}

.intro {
    display: flex;
    width: 100%;
}

.intro-mob{
    display: none;
}

.photo {
    width: 50%;
}

.proImg {
    width: 70%;
}

.info {
    font-family: "Big Caslon";
    color: #5e5e5e;
    font-size: 16px;
    margin: auto;
}

.experiences , .resources{
    font-family: "Raleway";
}

span {
    font-family: 'Raleway';
    color: gray;
    font-size: 18px;
}

.profile hr {
    margin-top: 50px;
    border: 1.5px solid #31708f;
    width: 70%;
}


@media (max-width: 1100px) {

    .profile {
        width: 80%;
    }

    .intro-mob{
        display: inline;
    }

    .intro-web{
        display: none;
    }

    .profile hr {
        margin-top: 20px;
        width: 100%;
    }

    .info {
        font-size: 14px;
    }

    .info span {
        font-size: 15px;
    }
}
