a:hover {
    opacity: 0.8;
}

a:focus{
    text-decoration: none;
    color:white;
}

a.btn {
    background-color: #ebdfec;
    border-radius: 4px;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hoverText {
    visibility: hidden;
}


/*left column*/
.leftCol {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0px;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow: 0 0 20px grey;
    align-content: center;
}

@keyframes leftColSlideout {
    from {left: 0px}
    to {left: -200px }
}

@keyframes leftColSlidein {
    from {left: -200px}
    to {left: 0px }
}

.hideBt{
    height: 30px;
    width: 15px;
    position: fixed;
    top: 450px; /* Stay at the top */
    left: 200px;
    background-color: white;
    box-shadow: 0 0 20px grey;
    color: lightgrey;
}

.showBt{
    height: 30px;
    width: 20px;
    position: fixed;
    top: 450px; /* Stay at the top */
    left: 5px;
    background-color: gray;
    box-shadow: 0 0 20px grey;
    color: white;
    text-align: center;
}

.hideBtText {
    font-size: 14px;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 0px 10px;
    background: black;
}

.hideBt:hover , .showBt:hover{
    cursor: pointer;
}

.hideBt:hover .hideBtText, .showBt:hover .hideBtText{
    visibility: visible;
}

.mainCol {
    margin-left: 150px;
}


@keyframes mainColSlideout {
    from {margin-left: 150px }
    to {margin-left: 0px }
}

@keyframes mainColSlidein {
    from {margin-left: 0px}
    to {margin-left: 150px }
}

/* Services Section */

.services {
    margin-bottom: 100px;
    padding: 50px 80px;
    padding-top: 100px;
    display: flex;
}

.services h2 {
    font-size: 35px;
}

.services hr {
    border: 1.5px solid #31708f;
    width: 250px;
}

.services p {
    font-size: 20px;
}

.services .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px;
    width: 100%;
    max-width: 1024px;
}

.services .grid li {
    background-position: center;
    background-size: cover;
    height: 300px;
    margin: 50px auto;
    text-align: center;
}

.services .grid li.small {
    flex-basis: 40%;
    padding-right: 20px;
}

.services .grid li.large {
    flex-basis: 60%;
}

.services .grid li h3 {
    font-size: 20px;
}

.services .grid li p {
    font-size: 13px;
}

.services .grid li .service-img {
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.services .grid li .service-img img {
    box-shadow: 0 0 20px grey;
    height: 100%;
    width: 100%;
}

.services .grid a:hover {
    opacity: 0.8;
}

@media (max-width: 1100px) {
    h4 {
        font-size: 10px;
    }

    .leftCol{
        display: none;
    }

    .mainCol{
        margin-left: 0px;
    }

    .services .grid {
        margin-left: 0;
        padding-left: 0;
    }

    .services .grid li {
        height: 200px;
    }

    .services .grid li.small,
    .services .grid li.large {
        flex-basis: 100%;
    }

    .services .grid li .service-img {
        box-shadow: 0 0 20px grey;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .services .grid li .service-img {
        height: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .services .grid li .service-img img {
        box-shadow: none;
        height: auto;
    }

    .services .grid li.small {
        padding-right: 0;
    }

    .services #project {
        content: url("../../img/index/project_long.jpg") ;
    }

    .services #idol {
        content: url("../../img/index/idol_long.jpg") ;
    }
}

@media (max-width: 576px) {
    .services {
        margin-bottom: 100px;
        padding: 20px 40px;
    }

    .services .grid li {
        height: 144px;
    }
}
