a:hover {
    opacity: 0.8;
}

a:focus{
    text-decoration: none;
    color:white;
}

a.btn {
    background-color: #ebdfec;
    border-radius: 4px;
    font-weight: bold;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

span {
    font-family: 'Raleway';
    color: gray;
    font-size: 16px;
}

/*left column*/
.leftCol {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 350px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 60px; /* Stay at the top */
    left: 0px;
    background-color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow: 0 0 20px grey;
    align-content: center;
}

@keyframes leftColSlideout {
    from {left: 0px}
    to {left: -350px }
}

@keyframes leftColSlidein {
    from {left: -350px}
    to {left: 0px }
}

.hideBt{
    height: 40px;
    width: 20px;
    position: fixed;
    top: 400px; /* Stay at the top */
    left: 350px;
    background-color: white;
    box-shadow: 0 0 30px grey;
    color: darkgrey;
    border-radius: 6px;
    text-align: center;
    padding-top: 5px;
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
}

.showBt{
    height: 100px;
    width: 30px;
    position: fixed;
    top: 400px; /* Stay at the top */
    left: 0px;
    background-color: white;
    box-shadow: 0 0 30px grey;
    color: darkgray;
    border-radius: 6px;
    text-align: center;
    padding-left: 5px;
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
}

.hideBtText {
    font-size: 14px;
    width: 60px;
    text-align: center;
    border-radius: 6px;
    padding: 0px 10px;
    background: black;
    color: lightgrey;
    writing-mode: horizontal-tb;
}

.hideBt:hover , .showBt:hover{
    cursor: pointer;
}

.hoverText {
    visibility: hidden;
}

.hideBt:hover .hideBtText, .showBt:hover .hideBtText{
    visibility: visible;
}

.leftCol hr{
    border: 0.5px solid lightgrey;
    width: 90%;
}

.login {
    margin: 20px 10px;
}

.news {
    margin: 40px 10px;
    margin-bottom: 100px;
}

.news-row {
    margin: 10px 10px;
    height: 160px;
    border: 0.5px solid gray;
    border-radius: 6px;
    /*for vertical & horizonal center*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    position: relative;
}

.news-row .piece {
    max-width: 95%;
}

.leftCol p a{
    font-size: 12px;
    color: cornflowerblue;
}

.spinner {
    height:50px;
    width:50px;
    margin:0px auto;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    /*border-left:6px solid rgba(0,174,239,.15);*/
    /*border-right:6px solid rgba(0,174,239,.15);*/
    /*border-bottom:6px solid rgba(0,174,239,.15);*/
    /*border-top:6px solid rgba(0,174,239,.8);*/
    /*border-radius:100%;*/
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.leftCol .footnote {
    color: gray;
    font-size: 12px;
    position: absolute;  /*container is relative, use absolute here to appear at the bottom of its container*/
    bottom: 0px;
    right: 5px;
}

.leftCol .footnote button{
    border: 0px;
    background: white;
}

.weather .news-row{
    border: 0px;
}

.weather .news-row pre{
    font-size: 18px;
    font-family: 'Raleway';
    background: white;
    color: gray;
    border: 0px;
}

.weather .news-row p{
    font-size: 15px;
    font-family: 'Raleway';
    color: black;
}

.changeCity {
    height: 40px;
    position: relative;
}

.changeCity input{
    font-size: 12px;
    height: 20px;
}

/*main column*/
.mainCol {
    margin-left: 250px;
}


@keyframes mainColSlideout {
    from {margin-left: 250px }
    to {margin-left: 0px }
}

@keyframes mainColSlidein {
    from {margin-left: 0px}
    to {margin-left: 250px }
}


/* Services Section */

.services {
    margin-bottom: 100px;
    padding: 50px 80px;
    padding-top: 100px;
    display: flex;
}

.services h2 {
    font-size: 35px;
}

/*.services hr {*/
    /*border: 1.5px solid #31708f;*/
    /*width: 250px;*/
/*}*/

.services p {
    font-size: 20px;
}

.services .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -50px;
    width: 100%;
    max-width: 900px;
}

.services .grid li {
    background-position: center;
    background-size: cover;
    height: 250px;
    margin: 50px auto;
    text-align: center;
}

.services .grid li.small {
    flex-basis: 40%;
    padding-right: 20px;
}

.services .grid li.large {
    flex-basis: 60%;
}

.services .grid li h3 {
    font-size: 20px;
}

.services .grid li p {
    font-size: 13px;
}

.services .grid li .service-img {
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.services .grid li .service-img img {
    box-shadow: 0 0 20px grey;
    height: 100%;
    width: 100%;
}

.services .grid a:hover {
    opacity: 0.8;
}




@media (max-width: 1350px) {
    .leftCol{
        width: 250px;
    }

    .hideBt{
        left: 250px;
    }

    @keyframes leftColSlideout {
        from {left: 0px}
        to {left: -250px }
    }

    @keyframes leftColSlidein {
        from {left: -250px}
        to {left: 0px }
    }

    .mainCol{
        margin-left: 100px;
    }

    @keyframes mainColSlideout {
        from {margin-left: 100px}
        to {margin-left: 0px }
    }

    @keyframes mainColSlidein {
        from {margin-left: 0px}
        to {margin-left: 100px }
    }
}


@media (max-width: 1100px) {
    .leftCol{
        display: none;
    }

    .hideBt {
        display: none;
    }

    .mainCol{
        margin-left: 0px;
    }

    @keyframes mainColSlideout {
        from {margin-left: 100px }
        to {margin-left: 0px }
    }

    @keyframes mainColSlidein {
        from {margin-left: 0px}
        to {margin-left: 100px }
    }

    h4 {
        font-size: 10px;
    }

    .services .grid {
        margin-left: 0;
        padding-left: 0;
    }

    .services .grid li {
        height: 200px;
    }

    .services .grid li.small,
    .services .grid li.large {
        flex-basis: 100%;
    }

    .services .grid li .service-img {
        box-shadow: 0 0 20px grey;
        height: 100%;
        overflow: hidden;
        width: 100%;
    }

    .services .grid li .service-img {
        height: 100%;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .services .grid li .service-img img {
        box-shadow: none;
        height: auto;
    }

    .services .grid li.small {
        padding-right: 0;
    }

    .services #project {
        content: url("../../img/index/project_long.jpg") ;
    }

    .services #idol {
        content: url("../../img/index/idol_long.jpg") ;
    }
}

@media (max-width: 576px) {
    .services {
        margin-bottom: 100px;
        padding: 20px 40px;
        padding-top: 90px;
    }

    .services .grid li {
        height: 136px;
    }
}
