<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic/talks.css">
</head>
<body>
  <% include ../../partials/navbar %>
  <%- include("../partials/hero", {title: "Our Press"}); %>

<div>
    <iframe src="https://onedrive.live.com/embed?cid=60EF66041A896088&resid=60EF66041A896088%21137&authkey=ABJxFlldTjlTGtA&em=2#toolbar=0"></iframe>
    <!--<iframe src="https://crconcologycorp-my.sharepoint.com/personal/it_group_crconc_org/_layouts/15/Doc.aspx?sourcedoc={40dd6203-b1ef-40de-8dbe-5cf16e29a8e6}&amp;action=embedview&amp;wdAr=1.7777777777777777#toolbar=0"></iframe>-->
</div>
<% include ../../partials/footer%>
<% include ../../partials/scripts %>

</body>
</html>