<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic/talks.css">
</head>
<body>
  <% include ../../partials/navbar %>
  <%- include("../partials/hero", {title: "Events"}); %>

<section class="buttons">
    <div class="btn-group btn-group-justified year" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2019" id="b2019">2019</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2018" id="b2018">2018</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2017" id="b2017">2017</a>
        </div>
    </div>
</section>

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture"> -->
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://www.hematology.org/Annual-Meeting/">ASH 2018</a>
            <h2 class="website">San Diego</h2>
            <a href="https://events.jspargo.com/ash18/public/eBooth.aspx?IndexInList=73&FromPage=Exhibitors.aspx&ParentBoothID=&ListByBooth=true&BoothID=573543" class="cd-read-more">Learn more</a>
            <span class="cd-date">Dec 1-5, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="https://actss2018.org/">ACTSS 2018</a>
            <h2 class="website">Shanghai</h2>
            <a href="/basic/talks/ACTSS" class="cd-read-more">Learn more</a>
            <span class="cd-date">Oct 30-31, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-picture.svg" alt="Picture"> -->
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="https://uschinabiopharma.com/">BIIS</a>
            <h2 class="website">Shanghai</h2>
            <a href="/basic/talks/BIIS" class="cd-read-more">Learn more</a>
            <span class="cd-date">Oct 22-23, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://www.phacilitate-leaders-europe.com/welcome">Phacilitate Leaders Europe</a>
            <h2 class="website">London</h2>
            <a href="/basic/talks/Phacilitate" class="cd-read-more">Learn more</a>
            <span class="cd-date">Sep 10-12, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://www.arena-international.com/ctssocal/">Clinical Trial Supply Southern California</a>
            <h2 class="website">San Diego</h2>
            <a href="/basic/talks/CTSSC" class="cd-read-more">Learn more</a>
            <span class="cd-date">Jun 12-13, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="https://www.jefferies.com/OurFirm/Conferences/325/">Jefferies IO Cell Therapy Summit 2017</a>
            <h2 class="website">Boston</h2>
            <a href="/basic/talks/Jefferies" class="cd-read-more">Learn more</a>
            <span class="cd-date">Apr 3, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location"> -->
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://www.phacilitate-leaders-world.com/conference">Phacilitate 2018 Cell & Gene Therapy World</a>
            <h2 class="website">Miami</h2>
            <a href="http://www.phacilitate-leaders-world.com/" class="cd-read-more">Learn more</a>
            <span class="cd-date">Jan 21-25, 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->

<% include ../../partials/footer%>
<% include ../../partials/scripts %>

</body>
</html>