<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/head %>
  <link rel="stylesheet" href="/static/css/basic/main.css">
  <link rel="stylesheet" type="text/css" href="/static/css/basic/talks.css">
</head>
<body>
  <% include ../../partials/navbar %>
  <%- include("../partials/hero", {title: "Events"}); %>
    
<section class="buttons">
    <div class="btn-group btn-group-justified year" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2019">2019</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2018">2018</a>
        </div>
        <div class="btn-group" role="group">
            <a type="button" class="btn btn-primary" href="/basic/talk2017">2017</a>
        </div>
    </div>
</section>

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="https://actss.org/">Advance Cell Therapy Shanghai Summit (ACTSS) 2017</a>
            <h2 class="website">Shanghai</h2>
            <a href="https://actss.org/landing-page/speakers/" class="cd-read-more">Learn more</a>
            <span class="cd-date">Nov 17, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-location.svg" alt="Location"> -->
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://www.chinatrialsevent.com/">ChinaTrail 2017</a>
            <h2 class="website">Shanghai</h2>
            <a href="http://www.chinatrialsevent.com/" class="cd-read-more">Learn more</a>
            <span class="cd-date">Nov 8-10, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://www.meetingonthemesa.com/">ARM Cell & Gene Meeting on the Mesa 2017</a>
            <h2 class="website">San Diego</h2>
            <a href="https://www.youtube.com/watch?v=dkA7ql_ae80&t=0s&list=PLbTBF__p6d_IZniXAMyBQckZVEpCP8DrY&index=19" class="cd-read-more">Learn more</a>
            <span class="cd-date">Oct 4-5, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <span class="glyphicon glyphicon-list-alt"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="http://car-tcr-summit.com/">CAR-TCR Summit 2017</a>
            <h2 class="website">Boston</h2>
            <a href="https://tw.saowen.com/a/f52aa0f7a8009052d4ab08e54770052618ec8a7ee59f1a907e8c585e75347115" class="cd-read-more">Learn more</a>
            <span class="cd-date">Sep 5-8, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-movie.svg" alt="Movie"> -->
            <span class="glyphicon glyphicon-modal-window"></span>
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <a href="https://www.phacilitate.co.uk/channels/investment-advanced-therapies">Phacilitate Investment for Advanced Therapies 2017</a>
            <h2 class="website">London</h2>
            <a href="https://www.phacilitate.co.uk/channels/investment-advanced-therapies" class="cd-read-more">Learn more</a>
            <span class="cd-date">May 3, 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

</section> <!-- cd-timeline -->

<% include ../../partials/footer%>
<% include ../../partials/scripts %>

</body>
</html>