section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

section:not(.hero):nth-child(even)  {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	justify-content: center;
}

hr {
    filter: alpha(opacity=0,finishopacity=100,style=1);
    width: 100%;
    margin: auto;
    color: #3f51b5;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	line-height: 1.5;
	padding: 0 50px 0 100px;
}

@media screen and (max-width: 768px) {
	section p{
		padding: 0 20px;
	}
}

h1{
	margin-top: 10%;
	text-align: center;
}

/*hero section*/
.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 450px;
	color: #fff;
	padding-top: 70px;
	transition: all 0.2s ease-in-out;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
	background-size: cover;
	z-index: -1;
	/*background-color: #80a3db;*/
}

.hero-content-area {
	/* opacity: 0; */
	margin-top: 150px;
	/* animation: 1s slidefade 1s forwards; */
}

.hero h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: white;
	font-size: 100px;
	margin-top: 150px;
	text-shadow: 4px 4px #653d6f;
}

.hero .gradient-mask {
	background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
	height: 20%;
	position: absolute;
	top: 80%;
	transition: all 0.2s ease-in-out;
	width: 100%;
  }

@media screen and (max-width: 768px) {
	.hero{
		max-width: 768px;
		width: 100%;
    	text-align: center;
	}

	.hero image{
		width: 100%;
		height: auto;
	}

	.hero h1{
		font-size: 45px;
	}
}


/* @keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
} */

/*mission section*/
.mission{
	width: 100%;
    font-size: 22px;
	text-align: start;
	margin: 0 auto;
}

.mission .office{
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 768px) {
	.mission{
		max-width: 768px;
	}

	.mission .office{
		width: 100%;
		height: auto;
		max-width: 768px;
	}

	.mission div{
		width: 100%;
		height: auto;
		max-width: 768px;
	}
	
	.mission h1{
		font-size: 30px;
	}

	.mission p{
		font-size: 16px;
	}
}