#businesses {
  margin: 80px auto;
}

#businesses .row {
	display: flex;
  margin: 30px auto;
  width: 90%;
}

#businesses .row > div {
	flex: 1;
}

#businesses .row .business-card {
	background: #f2f2f2;
  border: solid 1px #ddd;
  border-radius: 4px;
	box-shadow: 8px 8px 6px -3px grey;
	height: 100%;
  margin: 0 auto;
  text-align: center;
	width: 95%;
}

#businesses .row .business-card > a {
  display: inline-block;
  font-size: 18px;
  margin: 10px auto;
}

#businesses .row .business-card > img {
  height: auto;
  width: 100%;  
}

#businesses .modal-body {
	margin: 20px 30px;
  text-align: start;
}

@media screen and (max-width: 768px) {
  #businesses {
    margin: 50px auto;
  }

  #businesses .row {
    display: block;
    margin: 0 auto;
    width: 80%;
  }

  #businesses .row .business-card {
		margin-bottom: 30px;
    width: 100%;
	}
	
  #businesses .row .business-card > a {
    font-size: 14px;
    margin: 10px auto;
	}

	#businesses .modal-body {
		margin: 20px 30px;
		text-align: start;
	}
}