<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/services/main.css">
  <link rel="stylesheet" href="/static/css/services/business.css">
</head>
<body>
  <% include ../partials/navbar %>
  
  <%- include("./partials/hero", {page: "business", title: "Business", keyword: "Marketing Reasech / Due Dilligence"}); %>

  <section id="businesses">
    <div class="row">
      <div class="col-sm-6">
        <div class="business-card">
          <img src="/static/img/services/bd1.jpeg" />
          <h3>Marketing Reasech</h3>
          <div class="content">
            <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
            <ul class="text">
              <li>Competitive Landscape</li>
              <li>Partnering Strategic Analysis</li>
              <li>Strategic Consulting</li>
              <li>Structural Alternatives</li>
              <li>Facilitation Services</li>
              <li>Advisory Services</li>
              <li>Negotiation Expertise</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="business-card">
          <img src="/static/img/services/bd4.jpeg">
          <h3>Due Diligence</h3>
          <div class="content">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <ul class="text">
              <li>GxP Independent Audit</li>
              <li>Products Information</li>
              <li>Market, Sales, Distribution</li>
              <li>Pipeline Evaluation</li>
              <li>Management Team Interview</li>
              <li>Emerging Market Resource Feasibility Evaluation </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="float-btn"> 
      <a href="/files/due-diligence-Check-List.pdf" class="btn btn-lg"> 
        Sample Due Dilligence Checklist <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
      </a>
    </div>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
</body>
</html>