<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/static/css/services/main.css">
  <link rel="stylesheet" href="/static/css/services/regulatory.css">
</head>
<body>
  <% include ../partials/navbar %>
  <%- include("./partials/hero", {page: "regulatory", title: "Regulatory", keyword: "IND / CTA / BLA / NDA eCTD Submission"}); %>

  <section id="businesses">
    <div class="row">
      <div class="col-md-4">
        <div class="business-card">
          <img src="/static/img/services/reg2.jpeg" />
          <h3>US/China IND</h3>
          <div class="content">
            <ul class="text">
             <li>Gap Analysis</li>
              <li>Pre-/Pre-IND Briefing Package Preparation</li>
              <li>Pre-/Pre-IND Meeting Rehearsal</li>
              <li>Write/Review eCTD package</li>
              <li>CMC Data</li>
              <li>Non-Clinical Data</li>
              <li>Investigator Brochure</li>
              <li>Non-Clinical SEND </li>
              <li>FIM Clinical Trial Design</li>
              <li>FIM Clinical Trial Protocol</li>
              <li>US IND eCTD Dossier ESG Submission</li>
              <li>China IND CTD Submission</li>
              <li>US IND Annual Report eCTD Preparation</li>
              <li>US IND Annual Report eCTD ESG Submission</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="business-card">
          <img src="/static/img/services/reg1.jpeg">
          <h3>Regulatory Strategy</h3>
          <div class="content">
            <ul class="text">
              <li>Candidate Character</li>
              <li>Competitive Landscape </li>
              <li>Regulatory Guidances</li>
              <li>Regulatory Pathway </li>
              <li>Clinical Strategy</li>
              <li>Go/No-Go Milestones</li>
              <li>Submission Waves</li>
              <li>CDS/Label Updates</li>
              <li>Advertising Validation</li>
              <li>Lifecycle Management</li>
              <li>Compassionate Usage</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="business-card">
        <img src="/static/img/services/reg3.jpeg">
        <h3>US/China NDA/BLA</h3>
        <div class="content">
          <ul class="text">
            <li>Gap Analysis</li>
            <li>End-of-Phase-2 Briefing Package Preparation</li>
            <li>End-of-Phase-2 Meeting Rehearsal</li>
            <li>Write/Review eCTD package</li>
            <li>Module 1-5 Documents</li>
            <li>Clinical Summary</li>
            <li>Clinical Safety Summary</li>
            <li>Clinical Efficacy Summary</li>
            <li>Label/CDS</li>
            <li>Clinical Study Reports </li>
            <li>Clinical eSub Datasets</li>
            <li>eCTD Dossier Preparation</li>
            <li>eCTD Dossier QC Review</li>
            <li>eCTD Dossier Publishing </li>
            <li>eCTD Dossier ESG Submission</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </section>
  
  <% include ../partials/footer %>
  <% include ../partials/scripts %>
</body>
</html>