#cfda {
  margin-bottom: 50px;
  margin-top: 50px;
}

#content {
  margin-top: 25px;
}

#sidebar > div > a {
  border: none;
  border-radius: 0;
}

#main-content {
  border-left: 1px solid #ddd;
  font-size: 18px;
  min-height: 80vh;
  padding: 0 30px;
}

#main-content h1 {
  color: #666;
  font-family: Helvetica;
  font-size: 40px;
  margin: 0;
}

#main-content ul {
  list-style-type: disc;
  margin-right: 20px;
}

#main-content li {
  margin-bottom: 10px;
}

#main-content a {
  text-decoration: underline!important;
}

#main-content #logo {
  width: 100%;
  height: 100%;
}

#main-content #logos a {
  display: block;
  width: 100%;
} 

#main-content #logos a > img {
  border: 1px solid #ddd;
  box-shadow: 6px 6px 3px -3px gray;
  height: auto;
  margin: 10px 20px;
  max-height: 100%;
  max-width: 80%;
}

#main-content hr {
  border-top: 1px solid #ddd;
}

.list-group .list-group-item.active {
  background-color: #CB7BCB;
  border: solid 1px #CB7BCB;
  color: white;
}

@media screen and (max-width: 768px) {
  #cfda {
    margin-top: 30px;
  }

  #main-content {
    border: 1px solid #ddd;
  }

  #sidebar .list-group > a {
    border: 1px solid #ddd;
  }

  #main-content {
    min-height: unset;
    padding: 20px 10px;
  }

  #main-content h1 {
    font-size: 30px;
    text-align: center;
  }

  #main-content ul {
    font-size: 14px;
  }

  #main-content #logos > a > img {
    display: block;
    margin: 10px auto;
  }
}

@media screen and (max-width: 576px) {
  #main-content ul {
    font-size: 12px;
  }
}