#ema {
  margin-bottom: 50px;
  margin-top: 50px;
}

#content {
  margin-top: 25px;
}

#sidebar .searchbar button {
  color: #CB7BCB;
}

#sidebar .list-group {
  margin-top: 20px;
}

#sidebar > div > a {
  border: none;
  border-radius: 0;
}

#main-content {
  border-left: 1px solid #ddd;
  font-size: 18px;
  min-height: 80vh;
  padding: 0 30px;
}

#main-content h1 {
  color: #666;
  font-family: Helvetica;
  font-size: 40px;
  margin: 0;
}

#main-content ul {
  list-style-type: disc;
  margin-right: 20px;
}

#main-content li {
  margin-bottom: 10px;
}

#main-content a {
  text-decoration: underline!important;
}

#main-content a > img {
  margin-left: 20px
}

#main-content hr {
  border-top: 1px solid #ddd;
}

.list-group .list-group-item.active {
  background-color: #CB7BCB;
  border: solid 1px #CB7BCB;
  color: white;
}

@media (max-width: 768px) {
  #ema {
    margin-top: 30px;
  }

  #main-content {
    border: 1px solid #ddd;
  }

  #sidebar .list-group > a {
    border: 1px solid #ddd;
  }

  #main-content {
    min-height: unset;
    padding: 20px 10px;
  }

  #main-content h1 {
    font-size: 30px;
    text-align: center;
  }

  #main-content ul {
    font-size: 14px;
  }

  #main-content #logos > a > img {
    display: block;
    margin: 10px auto;
  }
}

@media screen and (max-width: 576px) {
  #main-content ul {
    font-size: 12px;
  }
}