#hero {
  background-image: url("/static/img/references/hero_water.jpg");
  background-position-x: center;
  background-position-y: 25%;
  background-size: 130%;
  height: 450px;
  padding-top: 70px;
  position: relative;
  text-align: center;
}

#hero h1 {
  color: white;
  font-size: 65px;
  margin-top: 150px;
  position: relative;
  text-shadow: 4px 4px #000;
  z-index: 1;
}

#hero .gradient-mask {
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
  height: 30%;
  position: absolute;
  top: 70%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #hero {
    background-size: 768px auto;
    height: 250px;
  }

  #hero h1 {
    font-size: 45px;
    margin-top: 60px;
    text-shadow: 2px 2px #000;
  }

  #hero .gradient-mask {
    height: 10%;
    top: 90%;
  }
} 