#ngo {
  padding-bottom: 50px;
  padding-top: 25px;
}

#ngo .row {
  margin: -20px 0;
}

#ngo .ngo-item .ngo-image {
  background-clip: padding-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  box-shadow: 8px 8px 6px -3px gray;
  border: 1px solid #bbb;
  display: block;
  height: 200px;
  margin: 20px auto;
  max-width: 450px;
}

#AACR {
  background-image: url("/static/img/references/AACR1.jpg");
}

#ARM {
  background-image: url("/static/img/references/ARM1.png");  
}

#ASCO {
  background-image: url("/static/img/references/ASCO1.png");
}

#CATAPULT {
  background-image: url("/static/img/references/CATAPULT2.jpg");
}

#CCRM {
  background-image: url("/static/img/references/CCRM1.jpg");
}

#CRI {
  background-image: url("/static/img/references/CRI1.png");
}

#CRIM {
  background-image: url("/static/img/references/CRIM1.png");
}

#LLS {
  background-image: url("/static/img/references/LLS1.jpg");
}

@media (max-width: 768px) {
  #ngo {
    margin-top: 30px;
  }

  #main-content {
    border: 1px solid #ddd;
  }

  #sidebar .list-group > a {
    border: 1px solid #ddd;
  }

  #main-content {
    min-height: unset;
    padding: 20px 10px;
  }

  #main-content h1 {
    font-size: 30px;
    text-align: center;
  }

  #main-content ul {
    font-size: 14px;
  }

  #main-content #logos > a > img {
    display: block;
    margin: 10px auto;
  }
  
  #ngo .ngo-item .ngo-image {
    height: 180px;
    width: 300px;
  }  
  
  #main-content ul {
    font-size: 12px;
  }
}